<!-- <mat-form-field id="search-input">
    <input matInput placeholder="Look for a hero!"
           [matAutocomplete]="postsAutocomplete" [formControl]="postFormControl">
  </mat-form-field>
  
  <mat-autocomplete #heroesAutocomplete="matAutocomplete">
    <mat-option *ngFor="let post of filteredPosts"
                [value]="post.HashTag">
      <a class="post-link" [routerLink]="['/edit', post.Id]">
        {{post.HashTag | capitalizefirst}}
      </a>
    </mat-option>
  </mat-autocomplete>
   -->