<app-nav></app-nav>

<h1>Get Users</h1>

<div class="col-md-6 col-md-pull-3">
        <h2>Users ({{ users?.length }})</h2>
        <div *ngFor="let user of users">
            <div class="card ">
                <div class="card-block">
                    <p class="card-text">User Name: {{ user.UserName }}</p>
                    <p class="card-text">Email: {{ user.Email }}</p>
                    <p class="card-text">FirstName: {{ user.FirstName }}</p>
                    <p class="card-text">LastName: {{ user.LastName }}</p>
                </div>
            </div>
        </div>
    </div>

