<h1>Get Posts</h1>

<!-- <div class="col-md-6 col-md-pull-3">
    <h2>Posts ({{ posts?.length }})</h2>
    <div *ngFor="let post of posts">
        <div class="card ">
            <div class="card-block">
                <h4 class="card-title">{{ post.Title }}</h4>
                <p class="card-text">{{ post.Content }}</p>
                <a [routerLink]="['/post', post.id]" class="card-link">Read more</a>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col s12 m7">
        <div *ngFor="let post of posts">
            <div class="card">
                <div class="card-content">
                    <h4> {{post.Title}}</h4>
                    <span>{{post.Content}}</span>
                    <br>
                    <br>
                    <a [routerLink]="['/post', post.id]" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
        <div class="col-md-12">
            <h1>{{ posts?.Title }}</h1>
            <div>
                {{ posts?.Content }}
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <h3>Comments ({{ comments.length }})</h3>
                    <div *ngFor="let comment of comments">
                        <strong>{{ comment.email }}</strong> said: <br>
                        <h4>{{ comment.name }}</h4>
                        <p>{{ comment.body }}</p>
                        <hr>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div> -->






<!-- <table class="table table-hover">

        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{ post.Title }}</td>
                <td>{{ post.Content }}</td>
                 <td><a [routerLink]="['/edit', product._id]" class="btn btn-primary">Edit</a></td>
                <td><a [routerLink]="" class="btn btn-danger">Delete</a></td> -->
<!-- </tr>
        </tbody>
      </table> -->









<!-- <input
  type="button"
  value="Load Posts Portion"
  (click)="onLoadClick()"
  [disabled]="isLoading"
>

<div>
  <div *ngFor="let post of posts" class="user-container">
    <h2>
      <div>{{post.Title}}</div>
      <div>{{post.Content}}</div>
    </h2>
  </div>

  <div *ngIf="isLoading">Loading...</div>
</div> -->